<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Hello</string>

    <key>CFBundleIdentifier</key>
    <string>xyz.letmefly.example.simpleapp.hello</string>

    <key>CFBundleName</key>
    <string>Let's Hello</string>
</dict>
</plist>
