## 问题 A: 1.2 神奇兔子数列

[题目地址](https://buctcoder.com/problem.php?id=)

### 题目描述



### 输入



### 输出



### 输入样例

```

```

### 输出样例

```

```

### 解题思路



### AC代码

#### C++

```cpp

```

#### Python

```python

```